# Ignore artifacts:
dist/
coverage/
docs/
bundle-analysis/
node_modules/

# Ignore files that are not meant to be formatted
CHANGELOG.md # Usually generated, formatting might break its structure
LICENSE
package-lock.json
yarn.lock
pnpm-lock.yaml

# Specific files (if any)
# src/some-vendored-script.js
